[submodule "src/seedcash/resources/seedcash-translations"]
	path = src/seedcash/resources/seedcash-translations
	url = https://github.com/seedcash/seedcash-translations.git
	branch = dev
[submodule "seedcash-screenshots"]
	path = seedcash-screenshots
	url = https://github.com/seedcash/seedcash-screenshots.git
	branch = dev
	update = none
